body {
    background-color: #3C3C3C;
}

header {
    background-color: #1E5871;
    height: 225px;
    border: 2px solid #26F0F1;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    height: 85px;
    width: 96%;
    background-color: #3C3C3C;
    border: 1px solid #26F0F1;
    border-radius: 20px;
}


ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.nav {
    color: #E6E6E6;
    text-decoration: underline overline;
    list-style: none;
    text-align: center;
    padding: 5px;
}

.naslovGlavni {
    font-weight: bolder;
    font-size: 50px;
    color: #E6E6E6;
}

main {
    padding: 2px;
}

article {
    border: 2px groove rgb(38, 240, 241, 0.75);
    margin: 3px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article:nth-child(even) {
    background-color: rgb(72, 116, 7, 0.75);
}

article:nth-child(odd) {
    background-color: rgb(30, 88, 88, 0.75);
}

.naslov {
    width: 75%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid rgba(38, 240, 241, 0.2);
    border-radius: 10px;
}

mark {
    background: none;
    font-weight: bold;
}

.text {
    font-size: 15px;
    margin: 0 0 10px 10px;
}

dl {
    width: 98%;
}

dd {
    margin-bottom: 15px;
}

.section-flex-start {
    align-self: flex-start;
}

footer {
    border: 1px solid black;
    text-align: center;
    background-color: #5C5C5C;
    font-weight: bold;
    font-size: 20px;
}